/* listType01 */
.listType__wrap {
    background-color: #f9fdc5;
  }
  .listType__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .listItem {
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: 23%;
  }
  .listItem.backend {
    background-color: #f8f7a0;
  }
  .listItem.frontend {
    background-color: #a0f8bd;
  }
  .listItem.devops {
    background-color: #a0f8f1;
  }
  .listItem.db {
    background-color: #c3a0f8;
  }
  .listItem__name {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    margin-bottom: 20px;
  }
  .listItem__name > .icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .listItem__name > .icon.backend {
    background: url(/img/icon/backend__icon.svg) no-repeat;
  }
  .listItem__name > .icon.frontend {
    background: url(/img/icon/front-end__icon.svg) no-repeat;
  }
  .listItem__name > .icon.devops {
    background: url(/img/icon/devops__icon.svg) no-repeat;
  }
  .listItem__name > .icon.db {
    background: url(/img/icon/db__icon.svg) no-repeat;
  }

  .listItem__inner {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
  }
  .listItem__inner .item {
    background-color: #ffff;
    border: #d9d9d9 1px solid;
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    display: flex;
  }
  .item__header {
    display: flex;
    width: 100px;
    align-items: center;
    flex-direction: column;

  }
  .item__header .icon {
    width: 60px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .item__header .icon {
    background: url(/img/icon/skills_logo.svg);
    background-repeat: no-repeat;
  }
  .item__header .icon.fastapi {
    background-position: 0 0;
  }
  .item__header .icon.spring {
    background-position: -60px 0;
  }
  .item__header .icon.css {
    background-position: 0 -60px;
  }
  .item__header .icon.react {
    background-position: -60px -60px;
  }
  .item__header .icon.azure {
    background-position: 0 -120px;
  }
  .item__header .icon.docker {
    background-position: -60px -120px;
  }
  .item__header .icon.github {
    background-position: -120px -120px;
  }
  .item__header .icon.mongo__db {
    background-position: 0 -180px;
  }
  .item__header .icon.mysql {
    width: 88.03px;
    height: 60px;
    background-position: -60px -180px;
  }

  .item__header p {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    line-height: normal;
  }
  .item__body {
    width: 145px; 
    display: flex;
    margin-left: 15px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    }
  .item__body .desc li {
    font-size: 16px;
    font-weight: 400D;
    padding-left: 20px;
    line-height: 150%;
    position: relative;
  }
  .item__body .desc li:before {
    content: "";
    height: 5px;
    width: 5px;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    left: 5px;
    top: 10px;
  }